<div class="ilCourseObjectiveProgressBar">
	<!-- BEGIN statusbar_bl -->
	<div class="ilCourseObjectiveProgressBarContainer">				
		<div class="progress">
			<div class="progress-bar {PERC_COLOR}" role="progressbar" style="width: {PERC_WIDTH}%;">			 
				 {PERC_STATUS}%
			</div>			
		</div>
		<div class="ilCourseObjectiveProgressBarLimit" style="left:{LIMIT_POS}px;">
			&nbsp;
		</div>
	</div>
	<!-- END statusbar_bl -->
	<!-- BEGIN statustxt_bl -->
	<div class="ilFloatRight">
		{TXT_PROGRESS_STATUS}
	</div>		
	<!-- END statustxt_bl -->	
	<br class="ilClearFloat" />
	<!-- BEGIN nstep_bl -->
	<div class="small">
		{TXT_NEXT_STEP}
	</div>
	<!-- END nstep_bl -->
</div>