<div style="padding-right:5px;">
	<!-- BEGIN statusbar_bl -->
	<div class="ilFloatRight" style="padding-left:10px;">				
		<div class="progress" style="margin:0; margin-top: 5px; background-color: {BG_COLOR}; border: 1px solid #bbb;">
			<div class="progress-bar" role="progressbar" style="width: {PERC_WIDTH}%; background-color: {PERC_COLOR}; box-shadow: none;">			 
				 {PERC_STATUS}%
			</div>			
		</div>
		<div class="ilPollQuestionResultPerc xsmall" style="position:relative; border-right: 2px dotted #888; left:{LIMIT_POS}px; height: 20px;">
			&nbsp;
		</div>
	</div>
	<!-- END statusbar_bl -->
	<!-- BEGIN statustxt_bl -->
	<div class="ilFloatRight">
		{TXT_PROGRESS_STATUS}
	</div>		
	<!-- END statustxt_bl -->	
	<br class="ilClearFloat" />
	<!-- BEGIN nstep_bl -->
	<div class="small">
		{TXT_NEXT_STEP}
	</div>
	<!-- END nstep_bl -->
</div>